.Button {
  /*padding: 10px;*/
  /*background: none;*/
  /*cursor: pointer;*/
  /*transition: color 0.25s ease-in-out;*/
  /*transition: background 0.25s ease-in-out;*/
  color: #3c4a73 !important;
  text-transform: uppercase;
  background: #e5e3e0;
  padding: 15px;
  border: 2px solid #333773 !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

.Button_white {
  border: 1px solid #4b5173;
  color: #fff;
}

.Button_white:hover {
  /*color: #000;*/
  /*background: #fff;*/
  color: #494949 !important;
  border-radius: 50px;
  border-color: #494949 !important;
  transition: all 0.3s ease 0s;
}

.Button_black {
  border: 1px solid #000;
  color: #000;
}

.Button_black:hover {
  /*color: #fff;*/
  /*background: #000;*/
  color: #494949 !important;
  border-radius: 50px;
  border-color: #494949 !important;
  transition: all 0.3s ease 0s;
}

.Button_unobtrusive {
  padding: 0;
  color: #000;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
  outline: none;
}

.Button_unobtrusive:hover {
  opacity: 0.35;
}

.Button_unobtrusive:focus {
  outline: none;
}


