.round-img {
  border-radius: 50%;
  max-width: 200px;
}

.repositories {
  margin-top: 20px;
  max-width: 50%;
}

.repository-name {
  margin-left: 10px;
  margin-right: 10px;
}

.follow-button {
  margin: 10px;
  background-color: darkseagreen;
  border-color: gainsboro;
}
.follow-button:hover {
  margin: 10px;
  background-color: darkseagreen;
  border-color: gainsboro;
}